@import 'tailwindcss';

@import 'tailwindcss/theme.css' layer(theme) source(none);
@import '../lib/styles/theme.css' layer(base);

@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --sh-class: #7aa2f7;
  --sh-sign: #89ddff;
  --sh-string: #9ece6a;
  --sh-keyword: #bb9af7;
  --sh-comment: #565f89;
  --sh-jsxliterals: #7aa2f7;
  --sh-property: #73daca;
  --sh-entity: #e0af68;
}

@theme inline @layer utilities {
  /* Default Fonts */
  --font-sans: var(--font-geist), var(--font-instrument-sans), ui-sans-serif, system-ui, sans-serif;

  --font-mono: var(--font-geist-mono), ui-monospace, monospace;

  /* Specialized Fonts */
  --font-heading: var(--font-geist);

  /*#region MARK: Custom Colors */
  --color-lilac: oklch(0.785 0.098 294.3);
  /*#endregion Custom Colors */
}

@layer base {
  html,
  body {
    --default-font-feature-settings:
      'calt' 1, 'liga' 1, 'ss20' 1, 'cv01' 1, 'cv03' 1, 'cv08' 1, 'cv10' 1, 'cv11' 1, 'cv12' 1,
      'cv14' 1, 'cv16' 1, 'cv19' 0, 'cv20' 1, 'zero' 1;
  }

  /* Header fonts */
  h1,
  h2,
  h3,
  h4 {
    @apply font-heading;
  }

  ::selection {
    color: var(--color-background);
    background: var(--color-primary);
  }

  code,
  kbd,
  samp,
  pre {
    @apply font-mono;
  }
}

@layer utilities {
  .font-heading {
    @apply text-primary font-heading leading-tighter font-semibold tracking-tighter;
  }

  .bg-muted {
    background-color: color-mix(in srgb, var(--color-zinc-100) 75%, var(--color-zinc-200) 25%);
    @variant dark {
      background-color: color-mix(in srgb, var(--color-zinc-900) 80%, transparent 20%);
    }
  }
}

@layer utilities {
  :is(a, .link) {
    @apply text-link cursor-pointer font-medium transition-colors duration-200;

    &:hover {
      @apply text-link-hover-fg bg-link-hover-bg;
    }
  }

  .btn-link {
    @apply text-link cursor-pointer font-medium transition-colors duration-200;

    &:hover {
      @apply text-link-hover-bg;
    }
  }
}
