@import 'tailwindcss';

@import 'tailwindcss/theme.css' layer(theme) source(none);
@import '../lib/styles/theme.css' layer(base);

@import 'tailwindcss/utilities.css' layer(utilities) source(none);
@import '../lib/styles/prose.css' layer(utilities);

@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --sh-class: #7aa2f7;
  --sh-sign: #89ddff;
  --sh-string: #9ece6a;
  --sh-keyword: #bb9af7;
  --sh-comment: #565f89;
  --sh-jsxliterals: #7aa2f7;
  --sh-property: #73daca;
  --sh-entity: #e0af68;
}

@theme inline @layer utilities {
  /* Default Fonts */
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
  /* Specialized Fonts */
  --font-heading: var(--font-geist);
}

@layer base {
  :root {
    font-family: var(--font-sans);
  }

  html,
  body {
    --default-font-feature-settings:
      'calt' 1, 'liga' 1, 'ss20' 1, 'cv01' 1, 'cv03' 1, 'cv08' 1, 'cv10' 1, 'cv11' 1, 'cv12' 1,
      'cv14' 1, 'cv16' 1, 'cv19' 0, 'cv20' 1, 'zero' 1;
  }

  /* Header fonts */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  ::selection {
    color: var(--color-background);
    background: var(--color-primary);
    /* background: var(--color-highlight); */
  }

  code,
  kbd,
  samp,
  pre {
    @apply font-mono;
  }

  :where(a, button) {
    cursor: pointer;
  }
}

@layer utilities {
  .font-heading {
    @apply text-primary font-heading leading-tighter font-semibold tracking-tighter;
  }

  .bg-muted {
    background-color: color-mix(in srgb, var(--color-zinc-100) 30%, var(--color-zinc-200) 70%);
    @variant dark {
      background-color: color-mix(in srgb, var(--color-zinc-900) 80%, transparent 20%);
    }
  }

  :where(a, .link) {
    @apply relative decoration-transparent decoration-0 transition-all duration-150 ease-in-out;
    /* @apply decoration-accent/40 relative underline decoration-0 underline-offset-2 transition-all duration-150 ease-in-out; */

    &:is(:hover, :focus) {
      @apply text-link-hover;
    }

    &:after {
      content: '';
      @apply absolute bottom-0.5 left-0 block h-0 w-0 bg-transparent transition-all duration-300;
    }

    &:is(:hover, :focus):after {
      @apply bg-link h-[1.5px] w-full;
    }
  }

  :where(.btn-link) {
    @apply text-link transition-colors duration-150 ease-in-out;

    &:hover {
      @apply text-link-hover;
    }
  }

  :where(a, .link, .btn-link) svg {
    @apply text-muted-strong transition-colors duration-150 ease-in-out;
  }

  :where(a, .link, .btn-link):hover svg {
    @apply text-primary;
  }

  /* h1,
  h2,
  h3,
  h4 {
    a::after {
      @apply hidden;
    }
    &:is(:hover, :focus) a::after {
      @apply h-0 bg-transparent;
    }
  } */

  .aspect-4-5 {
    aspect-ratio: 4 / 5;
  }

  .wrap-pretty {
    text-wrap: pretty;
  }
}
